#flagimage1{
    background-image: url("MexicanFlag.jpg");
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}
#flagimage2{
    background-image: url("BritishFlag.jpg");
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}
#flagimage{
    background-image: url("ItalianFlag.jpg");
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}
.flagtext1{
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 6px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.flagtext2{
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 6px solid #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.flagtext3{
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 6px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
